{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}


{% if site.curriculum == "dc-genomics" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Late Morning</td><td><a href="https://librarycarpentry.org/lc-shell/">Introduction to the Command Line</a></td></tr>
	    <tr><td>Feedback</td><td><a href="https://nd.qualtrics.com/jfe/form/SV_8uLiIlEUqboTJqd?carpsess=unix">Command Line Feedback</a></td></tr>
      <tr><td>Afternoon 1</td> <td> <a href="https://datacarpentry.org/organization-genomics/">Project Organization and Management</a></td></tr>
	     <tr><td>Feedback</td><td><a href="https://nd.qualtrics.com/jfe/form/SV_8uLiIlEUqboTJqd?carpsess=PO">Project Org Feedback</a></td></tr>
      <tr><td>Late Afternoon</td><td><a href="http://swcarpentry.github.io/sql-novice-survey/">Databases and SQL</a></td></tr>
	    	   	     <tr><td>Feedback</td><td><a href="https://nd.qualtrics.com/jfe/form/SV_8uLiIlEUqboTJqd?carpsess=SQLDay2">SQL Feedback</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing </a></td></tr>
	    	<tr><td>Feedback</td><td><a href="https://nd.qualtrics.com/jfe/form/SV_8uLiIlEUqboTJqd?carpsess=WrangleAM">AM Wrangle Feedback</a></td></tr>	
	    	<tr><td>Lunch</td><td>Lunch Talk Day Two</td></tr>
	    <tr><td>Afternoon</td><td>Wrangle Continued</td></tr>
	   	<tr><td>Feedback</td><td><a href="https://nd.qualtrics.com/jfe/form/SV_8uLiIlEUqboTJqd?carpsess=WranglePM">Wrangle Feedback</a></td></tr>	
	    <tr><td>Afternoon</td><td><a href="http://swcarpentry.github.io/sql-novice-survey/">Databases and SQL Continued</a></td></tr>
	    <tr><td>Feedback</td><td><a href="https://nd.qualtrics.com/jfe/form/SV_8uLiIlEUqboTJqd?carpsess=WranglePM"> SQL PM Feedback</a></td></tr>
   
      <tr>
	<td>Evening</td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://datacarpentry.org/genomics-r-intro/">Intro to R</a></td></tr>
	     <tr><td>Feedback</td><td><a href="https://nd.qualtrics.com/jfe/form/SV_8uLiIlEUqboTJqd?carpsess=R1">R Feedback</a></td></tr>
			<tr><td>Afternoon</td><td><a href="https://datacarpentry.org/genomics-r-intro/">Intro to R Continued</a></td></tr>
	     <tr><td>Feedback</td><td><a href="https://nd.qualtrics.com/jfe/form/SV_8uLiIlEUqboTJqd?carpsess=R2">R Feedback</a></td></tr>
	          <tr><td> </td><td><a href="http://swcarpentry.github.io/sql-novice-survey/">Databases and SQL Concluded</a></td></tr>
	     <tr><td>Feedback</td><td><a href="https://nd.qualtrics.com/jfe/form/SV_8uLiIlEUqboTJqd?carpsess=SQLDayThree">SQL Feedback</a></td></tr>

      <tr>
	<td>Evening </td>
	<td> END </td>
      </tr>
    </table>
  </div>
   <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://datacarpentry.org/genomics-r-intro/">Continuation: Intro to R</a></td></tr>
	     <tr><td>Feedback</td><td><a href="https://nd.qualtrics.com/jfe/form/SV_8uLiIlEUqboTJqd?carpsess=RDay4">R Feedback</a></td></tr>
			<tr><td>Afternoon</td><td><a href="http://swcarpentry.github.io/git-novice/14-supplemental-rstudio/index.html">Version control with GIT</a></td></tr>
           <tr><td>Feedback</td><td><a href="https://nd.qualtrics.com/jfe/form/SV_8uLiIlEUqboTJqd?carpsess=Git">Git Feedback</a></td></tr>
	    <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Overall Post-workshop survey</a></td>
      </tr>
      <tr>
	<td>CONCLUDING REMARKS </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>


{% else %}
{% include warning-curriculum.html %}
{% endif %}
